@import '~antd/lib/style/themes/index';

.@{ant-prefix}-patient-unique {
  display: flex;
  justify-content: center;
  & > .@{ant-prefix}-page-header {
    max-width: @screen-xs;
    width: 100%;
    .@{ant-prefix}-picker {
      width: 100%;
    }
  }
}
