@import '~antd/lib/style/themes/index';

.@{ant-prefix}-login {
  display: flex;
  justify-content: center;
  & > .@{ant-prefix}-page-header {
    max-width: @screen-xs;
    width: 100%;
    & > .@{ant-prefix}-page-header-footer {
      display: flex;
      justify-content: space-around;
    }
  }
}
