@import '~antd/lib/style/themes/index';

.@{ant-prefix}-patient-multiple {
  display: flex;
  justify-content: center;
  & > .@{ant-prefix}-page-header {
    max-width: @screen-xs;
    width: 100%;
    .@{ant-prefix}-list-item-action > li:last-child {
      padding-right: 0;
    }
  }
}
